
.ticker {
  color: $color-default-white;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  background-color: $color-gray;

  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  &__text {
    padding: 0 57px;
    position: relative;
    user-select: none;
  }

  &__text::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 8px;
  }
}
