<div class="main-page__decor-block decor">
  @@include("source/html/components/decor/decor-item.html")
  @@include("source/html/components/decor/decor-item.html", {
    "position": "br",
  })
  @@include("source/html/components/decor/decor-double.html", {
    "position": "br",
    "color": "gray"
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "br",
  })

  @@include("source/html/components/decor/decor-item.html", {
    "position": "br",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "color": "none",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "tr",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "tr",
  })

  @@include("source/html/components/decor/decor-item.html", {
    "color": "gray",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "tr",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "color": "none",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "br",
  })

  @@include("source/html/components/decor/decor-item.html", {
    "position": "bl",
    "color": "gray",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "br",
    "color": "gray",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "bl",
  })
  @@include("source/html/components/decor/decor-double.html", {
    "position": "tr",
  })

  @@include("source/html/components/decor/decor-item.html", {
    "position": "bl",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "br",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "br",
    "color": "gray"
  })
  @@include("source/html/components/decor/decor-item.html", {
    "color": "none"
  })

  @@include("source/html/components/decor/decor-item.html", {
    "position": "bl",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "color": "none",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "tr",
  })
  @@include("source/html/components/decor/decor-item.html", {
    "position": "bl",
    "color": "gray"
  })
</div>
