<header class="header @@if (context.mod) { header--@@mod }">
    <nav class="header__nav main-nav" data-state="close">
      <div class="main-nav__wrapper container">
        @@if (!context.index) {
          <a class="header__logo" href="index.html" aria-label="Переход на главную">
            <img src="/img/logo.svg" alt="Логотип Big-IT">
          </a>
        }
        @@if (context.index) {
          <img src="/img/logo.svg" alt="Логотип Big-IT" width="175" height="50">

        }

        <ul class="main-nav__list" data-state="close">
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 0) { is-active }" @@if (context.headerActiveLinkIndex !== 0) { href="#advantages" }>Преимущества</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 1) { is-active }" @@if (context.headerActiveLinkIndex !== 1) { href="#" }>Тарифы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 2) { is-active }" @@if (context.headerActiveLinkIndex !== 2) { href="#" }>Схема работы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 3) { is-active }" @@if (context.headerActiveLinkIndex !== 3) { href="#" }>Наши клиенты</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 4) { is-active }" @@if (context.headerActiveLinkIndex !== 4) { href="#" }>Гарантии</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link @@if (context.headerActiveLinkIndex === 5) { is-active }" @@if (context.headerActiveLinkIndex !== 5) { href="#" }>Контакты</a>
          </li>
        </ul>

        <div class="main-nav__toggles"  data-state="close">
          <ul class="main-nav__contacts contacts-list">
            <li class="contacts-list__item">
              @@include("source/html/components/icon.html", {
                "width": "15",
                "height": "15",
                "name": "phone",
                "round": "true"
              })
            </li>
            <li class="contacts-list__item">
              @@include("source/html/components/icon.html", {
                "width": "17",
                "height": "17",
                "name": "whatsup",
                "round": "true"
              })
            </li>
            <li class="contacts-list__item">
              @@include("source/html/components/icon.html", {
                "width": "15",
                "height": "13",
                "name": "mail",
                "round": "true"
              })
            </li>
          </ul>
        </div>
        <button class="main-nav__toggle round" data-state="close"></button>
      </div>
    </nav>
</header>
